<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {text-align: center; font-size: 40px;}
        </style>
    </head>
    <body style = "background-color: palevioletred;">
    <h2> Please upload your scanned image : </h2>
    <form action = "/predict" method = "POST", enctype="multipart/form-data">
    <input type = "file" id = "myFile" name = "filename">
     <button type = "submit" class = "btn btn-primary" > Submit </button>

</form>

       </body>
    <h1>
        Extract Tabular Data From Scanned Images 
    </h1>
</html>